<<<<<<< HEAD
!!!
=======
doctype html
>>>>>>> 44aac8680000b6bf1f9586d8342e988479ce6714
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
<<<<<<< HEAD
  body!= body
=======
  body
    block content
>>>>>>> 44aac8680000b6bf1f9586d8342e988479ce6714
